{% extends 'base.html' %}
{% load books_tags %}

{% block title %}
{{ title }}
{% endblock %}

{% block breadcrumbs %}
<nav style="--bs-breadcrumb-divider: '>'; margin-left: 20px;" aria-label="breadcrumb">
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item active"><a href="{% url 'home' %}">Главная</a></li>
        <li class="breadcrumb-item">Личный кабинет: {{ user.email }}</li>
    </ol>
</nav>
{% endblock %}

{% block content %}

<div class="cart_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">

                <div class="cart_container">

                    <div class="cart_items">

                        <ul class="cart_list" style="padding-right: 26px">
                            <li class="cart_item">
                                <div class="d-flex flex-md-row flex-column justify-content-between">

                                    <div>
                                        <div class="cart_item_title">Адрес электронной почты</div>
                                        <div class="cart_item_text">
                                            {{ user.email }}
                                        </div>
                                    </div>

                                    <div>
                                        <div class="cart_item_title">Номер телефона</div>
                                        <div class="cart_item_text">
                                            {% if user.phone_number %}
                                            {{ user.phone_number }}
                                            {% else %}
                                            Не указан
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div>
                                        <div class="cart_item_title">Имя</div>
                                        <div class="cart_item_text">
                                            {% if user.name %}
                                            {{ user.name }}
                                            {% else %}
                                            Не указано
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div>
                                        <div class="cart_item_title">Фамилия</div>
                                        <div class="cart_item_text">
                                            {% if user.surname %}
                                            {{ user.surname }}
                                            {% else %}
                                            Не указано
                                            {% endif %}
                                        </div>
                                    </div>

                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="cart_buttons">
                        <a href="{% url 'catalog' %}" style="text-decoration: none">
                            <button type="button" class="button cart_button_clear">
                                Перейти в библиотеку
                            </button>
                        </a>
                            <button type="button" class="button cart_button_checkout">
                                {% if user.name %}
                                Редактировать профиль
                                {% else %}
                                Заполнить данные профиля
                                {% endif %}
                            </button>
                    </div>

 


                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}